body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    width: 40%;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 2px solid black;
    row-gap: 20px;
}
input{
    width: 40%;
    margin: 0 auto;
}
button{
    width: 40%;
    margin: 0 auto; 
}