body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: rgb(221, 221, 221);
  }
  
  #time-table {
    background-color: #f8f8f8;
    padding: 10px;
    display: flex;
    justify-content: center;
  }
  
  #current-time {
    font-size: 24px;
  }
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background: rgb(146, 147, 156);
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
  }
  .hello{
    width: 10%;
  }
  table{
    width: 60%;
    display: flex;
    justify-content: center;
    padding-left: 100px;
  }
  .time-td{
    width: 40px;
  }
  .Theme-block{
    width: 70px;
    border-radius: 30px;
    background-color: rgb(148, 148, 148);
  }
  .regiser{
    width: 10%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
.main-blocks-container{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}
.main-block{
    width: 250px;
    height: 250px;
    background: rgb(146, 146, 146);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pic-logos{
    width: 150px;
    height: 150px;
    padding-bottom: 20px;
}
.pic-logos1{
    width: 150px;
    height: 100px;
    padding-top: 30px;
    padding-left: 20px;
}
.pic-logos2{
    width: 150px;
    height: 100px;

    padding-left: 20px;
}
.buy-btn{
    width: 80px;
    height: 30px;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
}
.buy-btn1{
    width: 80px;
    height: 30px;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    margin-top: 47px;
}

.notes-block{
    display: flex;
    justify-content: center;
}